In [8]:
#Introducimos una palabra a nuestra variable con input
variable = input()

Alvaro

In [9]:
variable

'Alvaro'

In [11]:
#Si introducimos otro valor, coge el último (sigue el orden del 'run')
variable = input()

1997

In [13]:
#Podemos acompañarlo con texto, por ejemplo:
variable = input('La variable introducida es: ')

La variable introducida es: 123

In [15]:
#Si quisieramos modificar su valor mediante una operacion
variable + 5
#Esto no funciona

TypeError: ignored

In [16]:
#TypeError: can only concatenate str (not "int") to str
#Pues convertimos el contenido de la variable en 'int'
variable = int(variable)

In [19]:
#Probamos hacerle una operacion ahora
variable + 5

128

In [25]:
variable = input('Introduce un numero entero: ')

Introduce un numero entero: 12.4

In [26]:
#No hemos introducido uno entero, por lo que ahora nos dará error
variable = int(variable)

ValueError: ignored

In [27]:
#ValueError: invalid literal for int() with base 10: '12.4'
#Da eror por que no es un 'int' sino un 'float'
variable = float(variable)
#ahora no tendría que dar error