# Introducción

In [3]:
#Esta sería una forma de mostrar una lista con 'while'
#Le decimos de mostrar los valores de numeros a través del indice
#Mientras índice (0) sea menor que la 'len' de números (6), muestra los valores de números de 1 en 1
numeros = [1,2,3,4,5,6]
indice = 0
while(indice < len(numeros)):
  print(numeros[indice])
  indice+=1

1
2
3
4
5
6

# FOR

Entremos en materia, que esta lección es sobre el 'for' y no sobre el uso de 'while'.

**¡Usando el 'for' podemos hacer lo anterior en 2 líneas de código!**

In [16]:
for numero in numeros:
   print(numero)

1
2
3
4
5
6

In [29]:
#Pedimos que nos multiplique el contenido por 2
indice = 0
numeros = [1,2,3,4,5,6]
for numero in numeros:
    numeros[indice] *= 2
    indice +=1
numeros

[2, 4, 6, 8, 10, 12]

In [32]:
#Para realizar los mismo sin crear indice, usamos 'enumerate'
numeros = [1,2,3,4,5,6]
for indice, numero in enumerate(numeros):
  numeros[indice] *= 3
numeros

[3, 6, 9, 12, 15, 18]

Hemos visto con listas de números, sin embargo, también podemos recorrer cadenas de texto.

In [34]:
texto = '¿Qué tal?'
for caracter  in texto:
  print(caracter)

¿
Q
u
é

t
a
l
?

TypeError: ignored

In [49]:
#Si queremos susutituir los caracteres de un texto a otro
#Imaginemos que de texto queremos un texto 2 que sustituya caracteres por '*'
texto2 = ""
for caracter in texto:
  texto2 += '*'
texto2
#En texto2, cada caracter de texto 1 es modificado por *
#'¿Qué tal?' tiene 9 caracteres, con lo cual habrá 9 asteriscos:

'*********'

In [50]:
#Si queremos que cada caracter aparezca dos veces en texto2:
texto2 = ""
for caracter in texto:
  texto2 += caracter * 2
texto2

'¿¿QQuuéé  ttaall??'

In [57]:
#También podemos hacer uso de'for' con 'range'
for i in range(5):
  print(i)

0
1
2
3
4