A continuación la forma en la que hemos aprendido o estamos acostumbrados a concatenar textos con variables

In [1]:
t = 'palabra'
n = 3
print("Una cadena de texto",t,'y el valor de la n es:',n)

Una cadena de texto palabra y el valor de la n es: 3

Sin embargo hay mejores formas y mas simples de hacerlo, donde pongamos las "{}" aparecerán los valores que queramos.

In [2]:
c = "Una cadena de texto '{}' y el valor de la n es '{}'".format(t,n)
c

"Una cadena de texto 'palabra' y el valor de la n es '3'"

In [3]:
#Esta es la forma original en la que trabajaría el código
print("Una cadena de texto {0} y el valor de la n es {1}".format(t,n))

Una cadena de texto palabra y el valor de la n es 3

In [4]:
#Sin embargo podemos cambiarlo
print("Una cadena de texto '{1}' y el valor de la n es '{0}'".format(t,n))

Una cadena de texto '3' y el valor de la n es 'palabra'

In [5]:
#Sin embargo podemos cambiarlo
print("Una cadena de texto '{t}' y el valor de la n es '{n}'".format(n=n,t=t))

Una cadena de texto 'palabra' y el valor de la n es '3'

In [6]:
#De manera que también podemos hacer lo siguiente
print("{t},{t}".format(t=t))

palabra,palabra

In [7]:
#También podemos usar el 'format' para mover el texto(en un rango de 40 caracteres)
print("{:>40}".format("palabra"))

                                 palabra

In [8]:
#También centrarlo (en rango de 40 caracteres como ejemplo otra vez)
print("{:^40}".format("palabra"))

                palabra

Cuando digo que es en un rango de 40 caracteres no hay más que comprobarlo intentando seleccionar la palabra y verás como hay espacios vacíos de caracteres. En el primer ejemplo se encuentran a la izquierda esos espacios y en el segundo ejemplo a izquierda y derecha (por eso digo que está centrado en un rango de 40 caracteres).

In [9]:
#Podemos hacer truncamientos y mostrar unos caracteres específicos de un texto
print("{:.3}".format("palabra"))

pal

In [10]:
#Y hacer las dos cosas a la vez
print("{:>40.2}".format("palabra"))

                                      pa

In [11]:
#Utilizamos lo aprendido para alinear números
#La 'd' utilizada se refiere a dígitos(si usamos la 'd' después de un '.' entonces decimales)
print("{:4d}".format(10))
print("{:4d}".format(100))
print("{:4d}".format(1000))

  10
 100
1000