In [1]:
c = set()

In [4]:
#Repasamos que para añadir usábamos 'add'
c.add(1)
c.add(2)
c.add(3)

In [5]:
c

{1, 2, 3}

In [6]:
#Podemos eliminar con 'discard'
c.discard(1)

In [7]:
c

{2, 3}

In [8]:
c.add(1)

Imaginemos que queremos copiar un conjunto:

In [10]:
c2 = c

In [11]:
#Si añado un elemento al set c2...
c2.add(4)

In [13]:
#También aparecerá en el set c
c

{1, 2, 3, 4}

In [14]:
#Pero también podemos copiar con 'copy'
c2 = c.copy()

In [15]:
#Haciéndolo con 'copy', si la modificamos, los cambios no se pasan a la original
c2.discard(4)

In [16]:
c2

{1, 2, 3}

In [17]:
c

{1, 2, 3, 4}

El 'clear' para borrar todo el contenido, funciona igual que con las listas.

In [18]:
c2.clear()

In [19]:
c2

set()

Ahora vamos a crear 4 conjuntos y vamos a trabajar con ellos:

In [20]:
c1 = {1,2,3}
c2 = {3,4,5}
c3 = {-1,99}
c4 = {1,2,3,4,5}

In [22]:
#¿Son disjuntos el conjunto c1 y c3? (Es decir, no coincide ningún elemento)
c1.isdisjoint(c3)

True

In [23]:
#¿Y el conjunto 1 con el 2?
c1.isdisjoint(c2)

False

In [25]:
#¿Es un subconjunto c1 del c4? (Es decir c1 forma parte del conjunto c4)
c1.issubset(c4)

True

In [27]:
#Y por último, ¿es el c4 un superset de c1? (Es decir, si c4 es un contenedor de c1)
c4.issuperset(c1)

True

Una vez hemos visto estas 3 formas para comparar conjuntos, vamos a ver unos métodos un poco más avanzados. Se utilizan para hacer uniones, diferencias y otras operaciones avanzadas entre conjuntos.

Siempre tienen dos formas, una que devuelve un conjunto con el nuevo resultado y otra que actualiza el conjunto directamente con el propio resultado. Éstas últimas incluyen una palabra dentro del método que se llama 'update'.

Por ejemplo:

In [28]:
#Una unión del primer conjunto con el segundo, ¿qué saldría?
c1 = {1,2,3}
c2 = {3,4,5}
c3 = {-1,99}
c4 = {1,2,3,4,5}

In [31]:
#Vamos a hacerlo
c1.union(c2)  #Recordemos que los elementos repetidos se borraban

{1, 2, 3, 4, 5}

In [30]:
#¿Es igual al conjunto 4?
c1.union(c2) == c4

True

In [34]:
#Lo une pero no lo actualiza, c1 sigue siendo c1 y lo mismo c2
print(c1,c2)

{1, 2, 3} {3, 4, 5}

In [35]:
#Pero si hicieramos 'update'...
c1.update(c2)

In [36]:
#Ahora si tendriamos en c1 la combinación con c2
c1

{1, 2, 3, 4, 5}

In [37]:
#Volvemos a copiar los originales para seguir con los ejemplos
c1 = {1,2,3}
c2 = {3,4,5}
c3 = {-1,99}
c4 = {1,2,3,4,5}

In [38]:
#También podemos encontrar los elementos que no son comunes entre conjuntos
c1.difference(c2)

{1, 2}

In [39]:
#Esta función también se puede hacer con un 'update'
c1.difference_update(c2)

In [40]:
c1

{1, 2}

In [41]:
#Volvemos a copiar los originales para seguir con los ejemplos
c1 = {1,2,3}
c2 = {3,4,5}
c3 = {-1,99}
c4 = {1,2,3,4,5}

In [49]:
#Otro método es para devolver los elementos comunes en ambos conjuntos
c1.intersection(c2)

{3}

In [50]:
#Y para hacerlo con 'update'...
c1.intersection_update(c2)

In [51]:
c1

{3}

In [53]:
#Volvemos a copiar los originales para seguir con los ejemplos
c1 = {1,2,3}
c2 = {3,4,5}
c3 = {-1,99}
c4 = {1,2,3,4,5}

In [54]:
#También podemos ver elementos simétricos
c1.symmetric_difference(c2) #Los elementos que no concuerdan entre los dos

{1, 2, 4, 5}