In [1]:
#Para crear un diccionario vacío por ejemplo
vacio = {}

In [2]:
vacio

{}

In [3]:
#Comprobamos si se trata de un diccionario con 'type'
type(vacio)

dict

In [4]:
#Vamos a crear un diccionario de números y su escritura en coreano
numeros = {'uno':'일','dos':'이','tres':'삼','cuatro':'사'}

In [5]:
#Nos lo va a ordenar alfabéticamente por el número en español
numeros

{'cuatro': '사', 'dos': '이', 'tres': '삼', 'uno': '일'}

In [6]:
#Queremos saber como se dice el número 3 en coreano
numeros['tres']

'삼'

In [7]:
#También funciona con 'integers' y 'floats' y combinación con 'strings'
#Asociemos ahora un número en 'integers' y su prononciación en coreano
numeros2 = {1:'il',2:'i',3:'sam',4:'sa'}

In [8]:
print('Pedro: ¿Cómo se dice 4 en coreano?\n','Álvaro: Cuatro en coreano se dice', numeros2[4])

Pedro: ¿Cómo se dice 4 en coreano?
 Álvaro: Cuatro en coreano se dice sa

In [9]:
#Hagamos un ejemplo más, esta vez operando con el diccionario
estatura = {'Alvaro':177,'Adrian':168,'Hector':183}

In [10]:
#Adrian había dado su estatura sin estar descalzo, mide 2cm menos
estatura['Adrian'] - 2

166

In [11]:
#¿Cuantos cms de estatura acumulan Héctor y Álvaro?
estatura['Alvaro'] + estatura['Hector']

360

Ahora vamos a crear un diccionario con amigos y sus características

In [12]:
#Creamos diccionario vacío
amigos = []

In [13]:
#Creamos variable con un amigo y sus características
a = {'Nombre':'Blanca','Estatura':168,'Ojos':'Castaño','Calificativo':'Amable'}

In [14]:
#Añadimos dicho amigo/a al diccionario con 'append'
amigos.append(a)

In [15]:
amigos

[{'Calificativo': 'Amable',
  'Estatura': 168,
  'Nombre': 'Blanca',
  'Ojos': 'Castaño'}]

In [16]:
a

{'Calificativo': 'Amable',
 'Estatura': 168,
 'Nombre': 'Blanca',
 'Ojos': 'Castaño'}

In [17]:
#Puedo volver a usar 'a' para otro amigo dado que aunque me cambie el contenido de la variable, ya la he almacenado en el diccionario
a = {'Nombre':'Fran','Estatura':178,'Ojos':'Castaño','Calificativo':'Alegre'}

In [18]:
amigos.append(a)

In [19]:
amigos

[{'Calificativo': 'Amable',
  'Estatura': 168,
  'Nombre': 'Blanca',
  'Ojos': 'Castaño'},
 {'Calificativo': 'Alegre',
  'Estatura': 178,
  'Nombre': 'Fran',
  'Ojos': 'Castaño'}]

In [20]:
#Si queremos obtener del diccionario unas características específicas podemos hacer uso del 'for'
for a in amigos:
  print(a['Nombre'],a['Calificativo'])

Blanca Amable
Fran Alegre