# Conjuntos
Un conjunto es una colección **no ordenada de objetos únicos**. Python provee este tipo de datos «por defecto» al igual que otras colecciones más convencionales como las listas, tuplas y diccionarios.

Se utilizan normalmente para hacer **pruebas de pertenencia en grupos y eliminación de elementos duplicados**. También se pueden utilizar para hacer operaciones matemáticas avanzadas.

In [1]:
#Utilizamos 'set' para crear un conjunto
conjunto = set()

In [2]:
#Comprobamos que funciona, evidentemente está vacío
set()

set()

In [3]:
#También podemos hacer uso de las '{}' para crear un 'set'
conjunto = {1,2,3}
#Comprobamos
conjunto

{1, 2, 3}

In [4]:
#Para añadir se utiliza 'add'
conjunto.add(4)
#Comprobamos
conjunto

{1, 2, 3, 4}

In [5]:
#Comprobamos añadiendo un 0 para ver si realmente ordena los números
conjunto.add(0)
conjunto

{0, 1, 2, 3, 4}

In [6]:
#¿Y si añadimos letras?
conjunto.add('H')
conjunto

{0, 1, 2, 3, 4, 'H'}

In [7]:
#Parece que primero posiciona los números y luego las letras
#¿Pero ordena realmente las letras también?
conjunto.add('A')

In [8]:
conjunto.add('Z')

In [9]:
conjunto

{0, 1, 2, 3, 4, 'A', 'H', 'Z'}

In [18]:
#Creamos un set con nombres de mis colegas
colegas = {'Héctor', 'Luis', 'Blanca','Fran', 'Pablo'}

In [19]:
#Comprobamos si Blanca es mi colega o no
'Blanca' in colegas

True

In [20]:
#¿Y Pepe?
'Pepe' in colegas

False

In [21]:
#Podemos comprobar si alguien no está en mi grupo de colegas
'Luis' not in colegas

False

Continuamos...

Normalmente las letras no suele ordenarlas, en mi caso si ha ocurrido (Ejemplo de las ejecuciones del [6] al [9]). Hago mención a la función de ordenar alfabéticamente por si pudieras o pudiéramos necesitarlo más adelante. Dicha función es **'sorted'** o **'sort'** y **'reverse'** o **'reversed'** si queremos invertir el orden.

Los **sets no dejará invertirlos**, sólo ordenarlos (TypeError: 'set' object is not reversible), ya sea con números o con letras (no de forma conjunta).

In [10]:
conjunto2 = {2,1,5,3,7,1,9}
sorted(conjunto2)

[1, 2, 3, 5, 7, 9]

In [11]:
conjunto3 = {'R','Y','D'}
sorted(conjunto3)

['D', 'R', 'Y']

Ahora vamos a comprobar como un 'set' elimina las duplicaciones de datos. A diferencia de las listas, que no lo elimina.

Así que, mejor veamos un ejemplo de manera conjunta con ambos casos.

In [22]:
#Creamos una lista básica con números, algunos de ellos repetidos
lista = [1,3,5,6,3,5]

In [23]:
#Comprobamos si devuelve números duplicados
lista

[1, 3, 5, 6, 3, 5]

In [24]:
#Vemos que si y decidimos pasar el contenido de la lista a un 'set'
mi_set = set(lista)

In [25]:
#Comprobamos que datos expone estando la lista de mis números en un 'set'
mi_set

{1, 3, 5, 6}

Como podemos observar, cuando se trata de un set, no hay valores que se repitan, el set se encarga de que eso ocurra. Es por tanto la función a usar en caso de que no queramos valores repetidos.

Vamos a comprobarlo con nombres también.

In [26]:
mi_set2 = {'Paco','Juan','Miguel', 'Pedro','Juan','Pedro'}

In [27]:
mi_set2

{'Juan', 'Miguel', 'Paco', 'Pedro'}

In [28]:
#Si quisiéramos que en una línea de código, quitar los valores repetidos de una lista...
#Podemos una lista convertirla en 'set' y devolverla como lista a la vez
lista = [1,3,5,6,3,5]

In [29]:
#Hagamos la conversión
lista = list( set(lista))

In [30]:
#Veamos que contenido devuelve mi lista
lista

[1, 3, 5, 6]

In [31]:
#Veamos también hacer un 'set' a una palabra
musculo = 'esternocleidomastoideo'
set(musculo)

{'a', 'c', 'd', 'e', 'i', 'l', 'm', 'n', 'o', 'r', 's', 't'}

Con este último ejemplo hemos comprobado que podemos realizar una extracción de las diferentes letras que contiene una palabra de una forma muy simple usando el 'set'.